.fa-1x {
font-size: 1.25em;
}
  
:target {
scroll-margin-top: calc(74px + 3rem);
}

/* body {
font-family: roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

h1 {
font-weight: 500;
margin-top: 0;
margin-bottom: 1rem;
padding-bottom: 1rem;
border-bottom: 4px solid #eee;
}

h2 {
margin-top: 3rem;
margin-bottom: 1rem;
font-weight: 500;
}

h3 {
margin-top: 2rem;
margin-bottom: 1rem;
font-weight: 500;
}

h4 {
margin-top: 1rem;
margin-bottom: 1rem;
font-weight: 500;
}

a {
text-decoration: none;
color: #0092d2;
}
a:hover {
color: #0092d2;
}

blockquote {
font-style: italic;
padding-left: 2rem;
padding-right: 2rem;
margin-top: 3rem;
margin-bottom: 3rem;
}

code {
/* color: inherit; */
color: var(--pink);
/* background-color: #f0f0f0; */
/* padding: 0.2rem 0.4rem; */
}

a > code {
background: none;
padding: 0;
}

/* ol ol, ol ul, ul ol, ul ul {
margin-bottom: 1rem;
} */

table {
margin: 0;
margin-top: 2rem !important;
margin-bottom: 2rem !important;

}

p {
  margin: 1rem 0;
}

caption {
  text-align: left !important;
  caption-side: top !important;
}

.compas-header {
height: 114px;
z-index: 1053;
background-color: #0092d2;
}

@media (min-width: 768px) {
@supports ((position: sticky)
      or (position: -webkit-sticky)
      or (position: -moz-sticky)
      or (position: -ms-sticky)
      or (position: -o-sticky)) {
  .compas-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  height: 74px;
  }
}
}

.compas-header .nav-link {
color: rgba(255, 255, 255, 0.5);
}
.compas-header .nav-item:hover .nav-link {
color: rgba(255, 255, 255, 0.75);
}
.compas-header .active .nav-link {
color: #fff;
}

.compas-sidebar {
order: 0;
background-color: #f8f9fa;
padding: 0;
}

@media (min-width: 768px) {
.compas-sidebar {
  border-bottom: none;
  border-right: 1px solid #ccc;
  max-width: 480px;
}

@supports ((position: sticky)
      or (position: -webkit-sticky)
      or (position: -moz-sticky)
      or (position: -ms-sticky)
      or (position: -o-sticky)) {
  .compas-sidebar {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 74px;
  height: calc(100vh - 74px);
  overflow-y: auto;
  }
}
}

.compas-content {
order: 1;
}

@media (min-width: 768px) {
  .compas-content {}

  @supports ((position: sticky)
        or (position: -webkit-sticky)
        or (position: -moz-sticky)
        or (position: -ms-sticky)
        or (position: -o-sticky)) {
    .compas-content {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 74px;
    }
  }
}

.compas-toc {
order: 2;
border-left: 1px solid #eee;
font-size: 0.875rem;
}

@media (min-width: 768px) {
  @supports ((position: sticky)
        or (position: -webkit-sticky)
        or (position: -moz-sticky)
        or (position: -ms-sticky)
        or (position: -o-sticky)) {
    .compas-toc {
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
      top: 74px;
      max-height: calc(100vh - 74px);
      overflow-y: auto;
    }
  }
}

/* Sidebar */

.compas-searchbox {
padding: 1rem;
background-color: #eee;
border-bottom: 1px solid #ccc;
position: relative;
}

.navbar-toggler {
margin-left: 1rem;
border: none;
}
.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.compas-navigation {
padding: 0;
}

@media (min-width: 768px) {
.compas-navigation {
  display: block !important;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  border: none;
}
}

.compas-navigation .nav {
padding: 0;
}

.compas-navigation .nav-item {
padding: 0;
}

.compas-navigation .nav .nav-link {
background-color: #f8f9fa;
color: #aaa;
padding: 0.5rem 1rem;
border-bottom: 1px solid #eee;
}

.compas-navigation .nav .nav-link:hover, 
.compas-navigation .nav .active .nav-link {
color: #222;
}

.compas-navigation .nav .nav .nav-link {
background-color: #fff;
color: #888;
padding-left: 2rem;
}

.compas-navigation .nav .nav .nav-link:hover {
color: #222;
}

.compas-navigation .nav .nav .active .nav-link {
color: #222;
font-weight: bold;
}

.compas-navigation .nav .nav .nav .nav-link {
color: #888;
padding-left: 3rem;
padding-top: 0.25rem;
padding-bottom: 0.25rem;
font-size: 0.8rem;
font-weight: normal
}

.compas-navigation .nav .nav .nav .nav-link:hover {
color: #222;
}

.compas-navigation .nav .nav .nav .active .nav-link {
color: #222;
font-weight: bold
}

.compas-navigation .nav-item.has-children .nav-link {
  padding-right: 41px;
}

.menu-toggle {
float: right;
position: relative;
top: 0px;
right: 0px;
width: 41px;
height: 41px;
color: #aaa;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}


/* TOC */

.compas-toc {
padding: 1rem 1rem;
}

.compas-toc .nav {
padding: 0;
}

.compas-toc .nav-item {
padding: 0;
}

.compas-toc .nav-link {
color: #888;
padding: 0.25rem 0.5rem;
}

.compas-toc .nav-link:hover, 
.compas-toc .active .nav-link {
color: #222;
}

.compas-toc .nav .nav .nav-link {
padding-left: 1.5rem;
}

.compas-toc .nav .nav .nav .nav-link {
padding-left: 2.5rem;
}

.compas-toc .nav .nav .nav .nav .nav-link {
padding-left: 3.5rem;
}

/* Content */

.compas-content ul p, .compas-content ol p {
margin: 0;
padding: 0;
}

.lead {
margin-bottom: 2rem;
}

.compas-content .figure {
margin: 0;
padding: 0;
}

.highlighted {
background-color: #ffffaa;
}

.highlight {
margin-top: 1rem;
margin-bottom: 1rem;
}

.hljs {
/* padding: 2rem; */
/* background-color: rgba(0, 146, 210, 0.1); */
}

.nohighlight pre {
padding: 1rem;
background-color: #f0f0f0;
}

.copy {
  display: block;
  float: right;
  position: relative;
  width: 32px;
  height: 32px;
  top: 3px;
  right: 35px;
  margin-right: -32px;
  color: rgba(0, 0, 0, 0.2);
  padding: 0;
}
.copy:hover {
  color: rgba(0, 0, 0, 0.8);
}

.compas-content .anchorjs-link {
text-decoration: none;
}

.field-list em {
  font-style: normal;
}

.card {
  border-radius: 0;
  border: 4px solid #eee;
  margin: 1rem 0;
}
.card-header:first-child {
  border: none;
}
.card-header {
  padding: 0;
  border: none;
  background-color: transparent;
}
.card-body {
  border-top: 1px solid #eee;
  padding: 1rem;
}
.card-header-tabs {
  margin: 0;
  border: none;
}
.nav-tabs .nav-item {
  margin: 0;
}
.nav-tabs .nav-link {
  border-radius: 0;
}
.nav-tabs .nav-link, .nav-tabs .nav-link.active {
  border: none;
  background-color: inherit;
}
.nav-tabs .nav-link.active {
  /* border-bottom: 4px solid #0092d2; */
  background-color: #f0f0f0;
}

.compas-tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 4px solid #eee;
}
.compas-tabs > input {
  position: absolute;
  opacity: 0;
}
.compas-tab-item-label {
  padding: 0.5rem 1rem;
  margin: 0;
  color: #0092d2;
}
.compas-tab-item-content {
  order: 99;
  width: 100%;
  padding: 1rem;
  display: none;
  border-top: 1px solid #eee;
}
.compas-tabs > input:checked + label {
  background-color: #eee;
  color: #222;
}
.compas-tabs > input:checked + label + div {
  display: block;
}

/* Footer */

.compas-footer {
  background-color: #000000;
}

.footer-text,
.footer-link,
.footer-title {
  color: rgba(255, 255, 255, 0.5);
}
.footer-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.below {
  background-color: #23272b;
}

.below-text,
.below-link,
.below-title {
  color: rgba(255, 255, 255, 0.25);
}
.below-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
