graft tests

prune data

include .bumpversion.cfg
include .editorconfig

include LICENSE
include README.md

include requirements-dev.txt
include requirements.txt
include tasks.py
include pytest.ini

global-exclude *.py[cod] __pycache__ *.dylib
