graft src
graft bin

prune .github

prune data
prune docs
prune libs
prune tests
prune temp

include LICENSE
include README.md
include AUTHORS.md
include CHANGELOG.md
include requirements.txt

exclude requirements-dev.txt
exclude pytest.ini .bumpversion.cfg .editorconfig
exclude tasks.py
exclude CODE_OF_CONDUCT.md CONTRIBUTING.md

global-exclude *.py[cod] __pycache__ *.dylib *.nb[ic] .DS_Store
