[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
matplotlib = ">=2.2"
networkx = "*"
numba = "*"
numpy = ">=1.16"
planarity = "*"
scipy = ">=1.2"
sympy = "*"
Cython = "*"
Pillow = "*"
COMPAS = {editable = true,path = "."}

[requires]
python_version = "3.7"
