autopep8
attrs >=17.4
bump2version >=0.5.11
check-manifest >=0.36
doc8
flake8
graphviz
invoke >=0.14
ipykernel
ipython >=5.8
isort
m2r
nbsphinx
pydocstyle
pytest >=3.2
sphinx_compas_theme >=0.13
sphinx >=3.4
twine
-e .
