# flake8: noqa
cython
ezdxf
imageio <= 2.6; python_version < '3.5'
imageio >= 2.7; python_version >= '3.5'
laspy
matplotlib >= 2.2, < 3.0; python_version >= '2.7' and python_version < '3.0'
matplotlib >= 2.2, < 3.1; python_version >= '3.5' and python_version <= '3.7' and sys_platform == 'win32'
matplotlib >= 3.1; python_version >= '3.8' and sys_platform == 'win32'
matplotlib >= 2.2; python_version >= '3.5' and sys_platform != 'win32'
networkx
numba
numpy >= 1.15.4, <= 1.19.3
pillow
planarity
pycollada
schema
jsonschema
scipy >= 1.1
sympy
watchdog
