attrs >=17.4
black ==22.12.0
bump2version >=1.0.1
check-manifest >=0.36
compas_invocations
doc8
flake8
graphviz
importlib_metadata <5.0
invoke >=0.14
ipykernel
ipython >=5.8
isort
jinja2 >= 3.0
m2r2
nbsphinx
numpydoc
pydata-sphinx-theme
pydocstyle
pytest
sphinx ==4.5
sphinx_compas_theme >=0.15.18
sphinx-design
sphinx-inline-tabs
sphinx-togglebutton
sphinx-remove-toctrees
sphinx-copybutton
sphinxcontrib-bibtex
sphinxcontrib-youtube
twine
wheel
-e .
