@import "bootstrap-scss/functions";
@import "bootstrap-scss/variables";
@import "bootstrap-scss/mixins";

.rubric {
	font-weight: normal;
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
	border-bottom: 4px solid #eee;
	color: #222;
	padding-bottom: 0rem;
}

/* ----------------------------------------------------------------- */

.badge-public {
	@include badge-variant($green);
	margin-left: 0rem;
}

.badge-private {
	@include badge-variant($red);
	margin-left: 0rem;
}

.badge-shared {
	@include badge-variant($yellow);
	margin-left: 0rem;
}

/* ----------------------------------------------------------------- */

.admonition {
	padding: 0 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: $alert-border-width solid transparent;
	// @include border-radius($alert-border-radius);
}

.admonition p {
	margin: 1rem 0;
}

.admonition-title {
	font-weight: 600;
	color: inherit;
}

.admonition.note,
.admonition.notes {
	@include alert-variant(
		theme-color-level(info, -10),
		theme-color-level(info, -9),
		theme-color-level(info, 6)
	);
	border-color: transparent;
}

.admonition.important {
	@include alert-variant(
		theme-color-level(danger, -10),
		theme-color-level(danger, -9),
		theme-color-level(danger, 6)
	);
}

.admonition.warning {
	@include alert-variant(
		theme-color-level(danger, -10),
		theme-color-level(danger, -9),
		theme-color-level(danger, 6)
	);
}

.admonition.seealso {
	@include alert-variant(
		theme-color-level(secondary, -10),
		theme-color-level(secondary, -9),
		theme-color-level(secondary, 6)
	);
}

/* ----------------------------------------------------------------- */

table {
	font-size: 0.875rem
}

.longtable {
	border: none;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	vertical-align: middle;
}

.longtable td {
	padding: 0.5rem;
	border: 1px solid #eee;
}

@media (min-width: 768px) {
	.longtable tbody tr td:first-child {
		white-space: nowrap;
	}
}

.longtable code {
	background: transparent;
	padding: 0;
}

.longtable a {
	text-decoration: none;
}

.docutils p,
.longtable p {
	margin: 0;
}

// start of signature
// ------------------

.sig {
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	// margin-left: -0.5rem;
	// margin-right: -0.5rem;
	border-bottom: 0px solid #eee;
	background-color: #eee;
	font-weight: normal;
}

.sig code {
	background-color: #eee;
	font-weight: bold;
}

.sig .property {
	padding-left: 0rem;
	padding-right: 0.25rem;
	// background-color: #fff;
}

.sig-prename {
	font-weight: bold;
	border-radius: 0;
	padding-right: 0;
}

.sig-name {
	font-weight: bold;
	padding-left: 0;
	border-radius: 0;
	color: var(--pink);
}

.sig-param {
	padding-left: 0.25rem;
}
  
.sig-paren {
	padding-left: 0.25rem
}

// .compas-content .section {
// 	position: relative;
// }

.sig .reference.internal {
	// float: right;
}

.viewcode-link {
	// float: right;
	margin-left: 1rem;
}

// ----------------
// end of signature

// start of parameters, attributes, ...
// ------------------------------------

.field-list {
	// display: grid;
	// grid-template-columns: fit-content(30%) auto;
	// grid-gap: 1rem;
	margin: 1rem 0 1rem 0;
}

.field-list dt {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.field-list dd {
	padding: 0 2rem;
}

.field-list p {
	margin: 0;
}

.field-list li {
	margin: 0;
}

.field-list ul {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.field-list ul.simple {
	padding-left: 0;
}

// ----------------------------------
// end of parameters, attributes, ...

// start of reference section
// --------------------------

.footnote,
.citation {
	display: grid;
	grid-template-columns: auto minmax(0, 1fr);
	grid-gap: 1rem;
	margin: 1rem 0;
}

.footnote dt,
.footnote dd,
.footnote dd p,
.citation dt,
.citation dd,
.citation dd p {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

a.brackets::before, span.brackets::before {
	content: '[';
}

a.brackets::after, span.brackets::after {
	content: ']';
}

// ------------------------
// end of reference section

// start of inheritance diagrams
// -----------------------------

.graphviz {
	text-align: center !important;
}

.graphviz img {
	margin-bottom: .5rem;
	line-height: 1;
	max-width: 100%;
	height: auto;
}

// ---------------------------
// end of inheritance diagrams