.rubric {
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 4px solid #eee;
  color: #222;
  padding-bottom: 0rem; }

/* ----------------------------------------------------------------- */
.badge-public {
  color: #fff;
  background-color: #28a745;
  margin-left: 0rem; }
  .badge-public[href]:hover, .badge-public[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1e7e34; }

.badge-private {
  color: #fff;
  background-color: #dc3545;
  margin-left: 0rem; }
  .badge-private[href]:hover, .badge-private[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #bd2130; }

.badge-shared {
  color: #212529;
  background-color: #ffc107;
  margin-left: 0rem; }
  .badge-shared[href]:hover, .badge-shared[href]:focus {
    color: #212529;
    text-decoration: none;
    background-color: #d39e00; }

/* ----------------------------------------------------------------- */
.admonition {
  padding: 0.75rem 1.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid transparent; }

.admonition p {
  margin: 1rem 0; }

.admonition-title {
  font-weight: 600;
  color: inherit; }

.admonition.note,
.admonition.notes {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb; }
  .admonition.note hr,
  .admonition.notes hr {
    border-top-color: #abdde5; }
  .admonition.note .alert-link,
  .admonition.notes .alert-link {
    color: #062c33; }

.admonition.important {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb; }
  .admonition.important hr {
    border-top-color: #f1b0b7; }
  .admonition.important .alert-link {
    color: #491217; }

.admonition.warning {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb; }
  .admonition.warning hr {
    border-top-color: #f1b0b7; }
  .admonition.warning .alert-link {
    color: #491217; }

.admonition.seealso {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db; }
  .admonition.seealso hr {
    border-top-color: #c8cbcf; }
  .admonition.seealso .alert-link {
    color: #202326; }

/* ----------------------------------------------------------------- */
table {
  font-size: 0.875rem; }

.longtable {
  border: none;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  vertical-align: middle; }

.longtable td {
  padding: 0.5rem;
  border: 1px solid #eee; }

@media (min-width: 768px) {
  .longtable tbody tr td:first-child {
    white-space: nowrap; } }
.longtable code {
  background: transparent;
  padding: 0; }

.longtable a {
  text-decoration: none; }

.docutils p,
.longtable p {
  margin: 0; }

.staticmethod > dt,
.classmethod > dt,
.method > dt,
.function > dt,
.class > dt {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  border-bottom: 0px solid #eee;
  background-color: #eee;
  font-weight: normal; }

.staticmethod > dt > code,
.classmethod > dt > code,
.method > dt > code,
.function > dt > code,
.class > dt > code {
  background-color: #eee;
  font-weight: bold; }

.descclassname {
  border-radius: 0;
  padding-right: 0; }

.descname {
  padding-left: 0;
  border-radius: 0; }

.compas-content .section {
  position: relative; }

.staticmethod > dt > .reference.internal,
.classmethod > dt > .reference.internal,
.method > dt > .reference.internal,
.function > dt > .reference.internal,
.class > dt > .reference.internal {
  float: right; }

.field-list {
  margin-top: 0rem;
  margin-bottom: 1rem; }

.field-list dt {
  margin-top: 2rem;
  margin-bottom: 1rem; }

.field-list dd {
  padding: 0 2rem; }

.field-list dd > ul {
  padding-left: 0; }

.footnote dt,
.citation dt {
  font-weight: normal;
  margin-top: 1rem;
  margin-bottom: 0.5rem; }

dt .brackets::before {
  content: '['; }

dt .brackets::after {
  content: ']'; }

.footnote dd,
.citation dd {
  padding: 0 2rem; }

.graphviz {
  text-align: center !important; }

.graphviz img {
  margin-bottom: .5rem;
  line-height: 1;
  max-width: 100%;
  height: auto; }

/* ----------------------------------------------------------------- */

/*# sourceMappingURL=compas-reference.css.map */
