.fa-1x {
font-size: 1.25em;
}
  
:target {
scroll-margin-top: calc(74px + 3rem);
}

h1 {
font-weight: 500;
margin-top: 0;
margin-bottom: 2rem;
}

h2 {
margin-top: 4rem;
margin-bottom: 2rem;
font-weight: 500;
}

h3 {
margin-top: 3rem;
margin-bottom: 2rem;
font-weight: 500;
}

h4 {
margin-top: 2rem;
margin-bottom: 2rem;
font-weight: 500;
}

a {
text-decoration: none;
color: #0092d2;
}
a:hover {
color: #0092d2;
}

blockquote {
font-style: italic;
padding-left: 2rem;
padding-right: 2rem;
margin-top: 3rem;
margin-bottom: 3rem;
}

code {
color: inherit;
background-color: #f0f0f0;
padding: 0.2rem 0.4rem;
}

a > code {
background: none;
padding: 0;
}

/* ol ol, ol ul, ul ol, ul ul {
margin-bottom: 1rem;
} */

table {
margin: 2rem 0;
}

p {
  margin: 2rem 0;
}

.compas-header {
height: 114px;
z-index: 1053;
background-color: #0092d2;
}

@media (min-width: 768px) {
@supports ((position: sticky)
      or (position: -webkit-sticky)
      or (position: -moz-sticky)
      or (position: -ms-sticky)
      or (position: -o-sticky)) {
  .compas-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  height: 74px;
  }
}
}

.compas-header .nav-link {
color: rgba(255, 255, 255, 0.5);
}
.compas-header .nav-item:hover .nav-link {
color: rgba(255, 255, 255, 0.75);
}
.compas-header .active .nav-link {
color: #fff;
}

.compas-sidebar {
order: 0;
background-color: #f8f9fa;
padding: 0;
}

@media (min-width: 768px) {
.compas-sidebar {
  border-bottom: none;
  border-right: 1px solid #ccc;
}

@supports ((position: sticky)
      or (position: -webkit-sticky)
      or (position: -moz-sticky)
      or (position: -ms-sticky)
      or (position: -o-sticky)) {
  .compas-sidebar {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 74px;
  height: calc(100vh - 74px);
  overflow-y: auto;
  }
}
}

.compas-content {
order: 1;
}

@media (min-width: 768px) {
  .compas-content {}

  @supports ((position: sticky)
        or (position: -webkit-sticky)
        or (position: -moz-sticky)
        or (position: -ms-sticky)
        or (position: -o-sticky)) {
    .compas-content {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 74px;
    }
  }
}

.compas-toc {
order: 2;
border-left: 1px solid #eee;
font-size: 0.875rem;
}

@media (min-width: 768px) {
  @supports ((position: sticky)
        or (position: -webkit-sticky)
        or (position: -moz-sticky)
        or (position: -ms-sticky)
        or (position: -o-sticky)) {
    .compas-toc {
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
      top: 74px;
      max-height: calc(100vh - 74px);
      overflow-y: auto;
    }
  }
}

/* Sidebar */

.compas-searchbox {
padding: 1rem;
background-color: #eee;
border-bottom: 1px solid #ccc;
position: relative;
}

.navbar-toggler {
margin-left: 1rem;
border: none;
}
.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.compas-navigation {
padding: 0;
}

@media (min-width: 768px) {
.compas-navigation {
  display: block !important;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  border: none;
}
}

.compas-navigation .nav {
padding: 0;
}

.compas-navigation .nav-item {
padding: 0;
}

.compas-navigation .nav .nav-link {
background-color: #f8f9fa;
color: #aaa;
padding: 0.5rem 1rem;
border-bottom: 1px solid #eee;
}

.compas-navigation .nav .nav-link:hover, 
.compas-navigation .nav .active .nav-link {
color: #222;
}

.compas-navigation .nav .nav .nav-link {
background-color: #fff;
color: #888;
padding-left: 2rem;
}

.compas-navigation .nav .nav .nav-link:hover {
color: #222;
}

.compas-navigation .nav .nav .active .nav-link {
color: #222;
font-weight: bold;
}

.compas-navigation .nav .nav .nav .nav-link {
color: #888;
padding-left: 3rem;
padding-top: 0.25rem;
padding-bottom: 0.25rem;
font-size: 0.8rem;
font-weight: normal
}

.compas-navigation .nav .nav .nav .nav-link:hover {
color: #222;
}

.compas-navigation .nav .nav .nav .active .nav-link {
color: #222;
font-weight: bold
}

/* TOC */

.compas-toc {
padding: 1rem 1rem;
}

.compas-toc .nav {
padding: 0;
}

.compas-toc .nav-item {
padding: 0;
}

.compas-toc .nav-link {
color: #888;
padding: 0.25rem 0.5rem;
}

.compas-toc .nav-link:hover, 
.compas-toc .active .nav-link {
color: #222;
}

.compas-toc .nav .nav .nav-link {
padding-left: 1.5rem;
}

.compas-toc .nav .nav .nav .nav-link {
padding-left: 2.5rem;
}

.compas-toc .nav .nav .nav .nav .nav-link {
padding-left: 3.5rem;
}

/* Content */

.compas-content ul p, .compas-content ol p {
margin: 0;
padding: 0;
}

.lead {
margin-bottom: 3rem;
}

.compas-content .figure {
margin: 0;
padding: 0;
}

.highlight {
margin-top: 2rem;
margin-bottom: 2rem;
}

.hljs {
padding: 2rem;
}

.nohighlight pre {
padding: 2rem;
background-color: #f0f0f0;
}

.compas-content .anchorjs-link {
text-decoration: none;
}

/* Footer */

.compas-footer {
  background-color: #000000;
}

.footer-text,
.footer-link,
.footer-title {
  color: rgba(255, 255, 255, 0.5);
}
.footer-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.below {
  background-color: #23272b;
}

.below-text,
.below-link,
.below-title {
  color: rgba(255, 255, 255, 0.25);
}
.below-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
