html[data-theme="light"] {
    --pst-color-primary: #0092d2;
    --pst-color-info: #0092d2;
}

.bd-content {
    flex-grow: 1;
    max-width: 100%;
}

.bd-page-width {
    max-width: 100%;
}

@media (min-width: 960px) {
    .bd-sidebar-primary {
        max-width: 20%;
    }
    html[data-theme="light"] .bd-sidebar-primary {
        background-color: #f8f9fb;
    }
}

/* html[data-theme="light"] .bd-header {
    background-color: var(--pst-color-primary);
}

html[data-theme="light"] .bd-header .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

html[data-theme="light"] .bd-header .navbar-nav > .active > .nav-link {
    color: rgba(255, 255, 255, 1);
} */

.navbar-brand img {
    height: 32px;
}
