html {
    --pst-font-size-base: 1rem;
    --pst-sidebar-font-size: 0.8rem;
}

html[data-theme="light"] {
    --pst-color-primary: #0092d2;
    --pst-color-info: #0092d2;
    --pst-color-text-muted: #888;
}

body {
    line-height: 1.75;
    font-weight: 300;
}

@media (min-width: 960px) {
    .bd-page-width {
        max-width: 106rem;
    }
    .bd-sidebar-primary {
        width: 20%;
    }
    .bd-main {
        flex-grow: 1;
    }
    .bd-main .bd-content .bd-article-container {
        max-width: 66rem;
    }
}

.bd-header {
    box-shadow: none;
    border-bottom: 1px solid var(--pst-color-shadow);
}

.bd-sidebar-primary div#rtd-footer-container {
    bottom: 0 !important;
    margin: 0 !important;
    display: none;
}

.bd-sidebar-primary .toctree-l3 {
    font-size: 0.8rem;
}

.navbar-brand img {
    height: 32px;
}

.bd-header .navbar-brand {
    margin-right: 1rem;
}

dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dt.field-even,
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dt.field-odd {
    background-color: var(--pst-color-surface);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.highlight pre {
    line-height: 150% !important;
    /* font-size: 0.75rem; */
}

.bd-footer-article {
    margin-top: 2rem;
}
