/* i.fa-square-github {
    color: #fff;
} */

/* .bd-header {
    background-color: #0092d2 !important;
} */

.bd-breadcrumbs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* label.sidebar-toggle.primary-toggle {
    color: #fff !important;
} */

@media (min-width: 768px) {
    label.sidebar-toggle.primary-toggle {
        display: none !important;
    }
}

@media (max-width: 768px) {
    label.sidebar-toggle.primary-toggle {
        display: inline-block !important;
    }
}

/* button.btn.version-switcher__button {
    border-color: #fff;
    color: #fff;
} */

.navbar-brand {
    flex-direction: unset !important;
    justify-content: unset !important;
}